<div class="listado">
  <h2>PRODUCTOS CARGADOS</h2>
  {{#if list}}
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Título</th>
          <th scope="col">Precio</th>
          <th scope="col">Imágen</th>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>${{price}}</td>
            <td><img class="table__image" src={{thumbnail}} alt="producto" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="container p-5 mb-4 bg-yellow rounded-3">
      <div class="py-5">
        <h3 class="display-6 fw-bold">¡Oops!, listado vacío</h1>
        <p>No se encontraron productos cargados.</p>
      </div>
    </div>
  {{/if}}
 </div>